# Ignore .env
.env

# Ignore LLMs4OL_src_testing
LLMs4OL_src_testing/TaskA/*
LLMs4OL_src_testing/TaskB/*
LLMs4OL_src_testing/TaskC/*
LLMs4OL_src_testing/dataset/*
LLMs4OL_src_testing/outputs/*

#Ignore Occupation_skill_mapping_src
Occupation_skill_mapping_src/Occupations_Skills_Mapping/*
Occupation_skill_mapping_src/TaskA/*
Occupation_skill_mapping_src/TaskB/*
Occupation_skill_mapping_src/TaskC/*
Occupation_skill_mapping_src/TaskD/*
!Occupation_skill_mapping_src/Occupations_Skills_Mapping/.gitkeep
!Occupation_skill_mapping_src/TaskA/.gitkeep
!Occupation_skill_mapping_src/TaskB/.gitkeep
!Occupation_skill_mapping_src/TaskC/.gitkeep

# Ignore dataset
Occupation_skill_mapping_src/skill_update.csv
Occupation_skill_mapping_src/occ_update.csv
